#form-container {
    background:#F9F9F9;
    border: solid 1px #ddd;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
    margin:0px auto 40px auto;
    padding:15px;
    width:700px;
}

#form-container h2 { font-size:18px; color:#333; padding:0px; margin:0px 0px 10px 0px; }

fieldset, form { padding:0px; margin:0px; border:none }

#form-container .field  { clear:both; margin:0px; padding:10px 0px; }

label { width:120px; }



input[type=text], textarea,select {
    background:#fff;
    border:solid 1px #E5E5E5;
    font-weight: bold;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:550px;
}

select{
    padding: 9px;


}
textarea { height:120px }

label, input[type=text]{ padding:9px 5px; float:left }

input[type=text]:focus, textarea:focus { background:#f1f6f9; padding:8px 5px; border:solid 2px #D5E3F9; }

.submit-button {
    background: #57A02C;
    border:solid 1px #86CC50;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#FFF;
    cursor:pointer;
    font-size:13px;
    margin-left:620px;
    padding:3px 8px;
}
.submit-button:hover { background:#82D051 }

#exist{
    color:#da4a4a;
    font-size: 80%;
}

.warning{
    color:#da4a4a;
    font-size: 80%;
}

#msg{
    font-weight: bold;
    margin:0px auto 40px auto;
}