/* Inspired by HTML5 ✰ Boilerplate */

/*--------- RESETS -------------- */

blockquote, q { quotes: none; }

html { overflow-y: scroll; }
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
    border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #D1D1D1; color:#fff; text-shadow: none; }
::selection { background:#D1D1D1; color:#fff; text-shadow: none; }

button {  width: auto; overflow: visible; }

body, select, input, textarea {
    color: #111;  
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h2 {font-size: 1.571em}	
h3 {font-size: 1.429em}	
h4 {font-size: 1.286em}	
h5 {font-size: 1.143em}	
h6 {font-size: 1em}	


a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
/*----- MAIN STYLES ----------- */

.shadow {
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
}

#wrap {    
    margin: 0 auto ;
    padding:0;
    text-align: left;
    background-color:#FFF;
    width: 1000px;
}

header {
    position: relative;
    clear:left;
    width: 1000px;    
    margin: 0; padding: 0;

}
header h1{    
    margin: 0; padding: 15px 0 25px 0;
    font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
    letter-spacing: -2px;
    color: #444;
    text-transform: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    top: 6px; right: 15px;
}
nav {
    font-size: 1.15em;
    height: 40px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 1000px;
}

nav ul {
    list-style: none; 
    padding:0;
    margin: 0 0; 
    width: 1000px;    
}
nav li { 
    display: inline-block; padding:0;height:40px;
    margin:0 0;
    -webkit-box-shadow:0px 0px 10px #ccc;
    -moz-box-shadow:0px 0px 10px #ccc;
    box-shadow:0px 0px 10px #ccc;
    position:relative;
}



nav li > a{
    color: #000;
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;    
    background-color:#f7f7f7;
    display: inline-block;
    height: 30px;

    padding: 5px 1.5em;
    text-decoration: none;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;  
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    position:relative;
    z-index: 5;
    opacity: 0.5;

}
nav li > a:hover, nav li > a:active {    
    color: #fff;    
    -webkit-box-shadow: inset 0px 0px 5px #ccc;
    -moz-box-shadow: inset 0px 0px 5px #ccc;
    box-shadow: inset 0px 0px 5px #ccc;
    text-shadow: none !important;
    opacity: 1;
}

nav #presentations:hover {
    background: #E18727;
    border-left: 1px solid #8C5D26;
    border-top: 1px solid #8C5D26;
    border-right: 1px solid #8C5D26;    

}
nav #editor:hover {
    background: #3F9DCD;
    border-left: 1px solid #26698C;
    border-top: 1px solid #26698C;
    border-right: 1px solid #26698C;    

}
nav #about:hover {
    background: #CE4079;
    border-left: 1px solid #8C2664;
    border-top: 1px solid #8C2664;
    border-right: 1px solid #8C2664;    

}

nav li > a.active {
    opacity: 1;
}

#main {
    clear:both;
    margin:0px; padding:0;
    width: 1000px;
    min-height: 500px;
    background: #f7f7f7;
    border: 1px solid #d2d2d2;    
    -webkit-box-shadow:0px 0px 10px #ccc;
    -moz-box-shadow:0px 0px 10px #ccc;
    box-shadow:0px 0px 10px #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #222;
    position:relative;
    z-index: 3;
}

#main > section {
    width:33%;
    min-height: 500px;        
    float:left;
    display:block;
}

#main div.colhead {
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    
}
#main div.colhead .number{ 
    font-size: 1.2em;
    color: #F69600;
}

.search {

    background: white;
    /*height: 20px;*/
    width: 96%;
    border: 1px solid #EEE;
    display: block;
    margin: 3%;
}

.search > input {
    /*border: 0;*/
    font-size: 1.1em;

}

.search .icon {
    float: right;
    margin: 4px;
    opacity: 0.6;
}

.search .icon:hover {
    opacity: 1;
}


.items, .info {
    background: white;
    min-height: 300px;
    height:100%;
    width: 96%;
    border: 1px solid #EEE;
    display: block;
    margin: 3%;
}


.items ul {
    margin: 0;
    padding: 0;
}
.items li {
    font-size: 1.4em;    
    margin: 0; 
    padding: 5px 10px;
    list-style:none;
    list-style-image: none; 
    cursor: pointer;
}

.items li:hover {    
    background: #fffadc;
}
.items li.selected, .items li:active{ 
    background: #feb !important;
} 

.items div.hint {    
    margin-top:40px;
    color:#999;
    text-align: center;
    font-size: 1.1em
}


#info-text  {
    padding: 5px 10px;        
    min-height: 333px;
}

#info-text div.hint {
    margin-top:75px;
    color:#999;
    text-align: center;
    font-size: 1.1em    
}

.button {    
    cursor: pointer;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -o-linear-gradient(#fff,#ddd);
    font-size: 1.1em;
    color: #444;
    margin: 4px;
    padding: 2px 5px;
    border: 1px solid #888;    
    -webkit-border-radius: 4px;    
    -moz-border-radius: 4px;    
    border-radius: 4px;
    text-decoration: none;
    -webkit-box-shadow:0px 0px 2px #ddd;
    -moz-box-shadow:0px 0px 2px #ddd;
    box-shadow:0px 0px 2px #ddd;
}

.button:active {
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -o-linear-gradient(#eee,#fff);
    border: 1px solid #777;       
}
.button:focus {
    border: 1px solid #F69600;           
}


#buttons {
    float: left;    
}

#buttons a{
    padding-left: 7px;
}

/* ------------ SLIDEINDEX ------------------ */

#index { 
    padding: 0;
    margin-left: 25px;

}

.slideindex-ul{
    margin: 0;
    font-size: 13px;
}

.slideindex-li{
    font-size: 13px;
    list-style: none;
}
.slideindex-hidden{
    margin: 0;
    display:none;
}
.slideindex-visible{
    margin: 0;
    display:block;
    padding-left: 20px;
}

.slideindex-ul  img{
    cursor: pointer;
    float: left;
    padding: 2px 5px;
    margin-left: -20px;
}

.slideindex-clearImg{
    width: 15px;
    cursor: pointer;
    margin: 0 0 0 5px;
}





/* ------------ ABOUT ------------------ */

.about-text {
    margin: 25px;    
}

.about-text img {
    margin: 10px 0;
}
.about-text h3, .about-text h2 {
    color: #896777;

}


footer {
    font-size: 9px;
    color: #ccc;
    text-align: right;
}



#debug {
    position:absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #fbb;
    border-radius: 2px;
    background: #fee;
    z-index: 15;

}


/* ~~~~~~ FORMS ~~~~~~~~~~~~~~~ */
#form-container {
    background:#F9F9F9;
    border: solid 1px #ddd;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
    margin:0px auto 40px auto;
    padding:15px;
    width:700px;
}

#form-container h2 { font-size:18px; color:#333; padding:0px; margin:0px 0px 10px 0px; }

fieldset, form { padding:0px; margin:0px; border:none }

#form-container .field  { clear:both; margin:0px; padding:10px 0px; }

label { width:120px; }



input[type=text], textarea,select {
    background:#fff;
    border:solid 1px #E5E5E5;
    font-weight: bold;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:550px;
}

select{ padding: 9px; }
textarea { height:120px }
label, input[type=text]{ padding:9px 5px; float:left }
input[type=text]:focus, textarea:focus { background:#f1f6f9; padding:8px 5px; border:solid 2px #D5E3F9; }
.submit-button {
    background: #57A02C;
    border:solid 1px #86CC50;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#FFF;
    cursor:pointer;
    font-size:13px;
    margin-left:620px;
    padding:3px 8px;
}
.submit-button:hover { background:#82D051 }
#exist{color:#da4a4a;font-size: 80%;}
.warning{color:#da4a4a; font-size: 80%;}
#msg{font-weight: bold; margin:0px auto 40px auto;}



/*----- HELPERS --------------- */


.hidden { display: none; visibility: hidden; }
.left {text-align: left;}
.right {text-align: right;}
.orange {color: #F69600;}
.bold {font-weight: bold;}
.clear{clear:both;}



/*----- MEDIA QUERIES --------------*/ 

@media all and (orientation:portrait) {
    /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
    /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
    /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
    /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
*/
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
        -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}